

@font-face {
    font-family: unisans; 
    src: url(assets/unisans.ttf); 
}
body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}


.banner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}
.content-banner {
    font-family: unisans;
    color: white;
    text-align: center;
    
}


@media screen and (min-width: 899px) {
    .headertxt {
       font-size: 95px;
    }
    .ahref {
    color: #fff; 
    text-decoration: none;
    transition: 0.2s linear;
}
    .ahref:hover {
    color: #269ad9;
    text-decoration: underline;
}
}
@media screen and (max-width: 900px) {
    .headertxt {
       font-size: 55px;
    }
    .ahref{
        color: dodgerblue;
    }
}
.textbanner {
    max-width: 700px;
}
.textcenter {
    text-align: center!important;
}