@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=PT+Serif&display=swap');


.maincontent {
    display: flex;
    justify-content: center;
    
}
.maintext {
    max-width: 700px;
    color: rgba(0, 0, 0, 0.8);  
}
p {
    font-size: 18px;
    font-family: 'PT Serif', serif;
    
}
h1 {
    font-size: 45px;
    font-family: 'Noto Sans JP', sans-serif;
}
h2 {
    font-size: 28px;
    font-family: 'Noto Sans JP', sans-serif;;
}
.centertext {
    text-align: center;
}
a {
    color: rgba(0, 0, 0, 0.8);  
}
.minline {
    line-height: 10px!important;
}
