@import "introimg.css";

@font-face {
    font-family: GothamPro; 
    src: url(../fonts/GothamPro.ttf); 
}

@font-face {
    font-family: GothamBlack; 
    src: url(../fonts/GothamPro-Black.ttf); 
}

/* @font-face {
    font-family: Uni-Sans-Thin; 
    src: url(../fonts/Uni-Sans-Thin.ttf); 
} */

@font-face {
    font-family: Lato-Hairline; 
    src: url(../fonts/Lato-Hairline.ttf); 
}

@font-face {
    font-family: Monad; 
    src: url(../fonts/Monad.ttf); 
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #3b3a3a;
    color: #CCCCCC;
    font-family: GothamPro,Arial, Helvetica, sans-serif;
}

div.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Интро (верхушка сайта) */

div.intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #4900a8;
    position: relative;
}

img.intro {
    max-height: 20em;
    max-width: 90%;
}
span.intro {
    font-size: 4rem;
    font-family: Lato-Hairline, Geneva, Tahoma, sans-serif;
    color: #fff;
}
span.intro>span {
    font-size: 1.2rem;
}

a.raidyhd {
    font-family: Monad, Geneva, Tahoma, sans-serif;
    color: white;
    opacity: 0.6;
    transition: .2s;
    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

a.raidyhd:hover {
    opacity: 1;
}


@media screen and (max-width: 815px) { 
    span.intro {
        font-size: 12vw;
    }

    span.intro>span {
        font-size: .5em;
    }
    a.raidyhd {
        right: auto;
        bottom: auto;
        top: 10px;
        width: 100%;
        text-align: center;
        opacity: .5;
    }

}
/* Карточка с информацией о влоп'е */
div.infocard {
    background-color: #474747;
    border-radius: 10px;
    height: fit-content;
    width: 700px;
    padding: 20px;
    display: flex;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 35px 0 rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 35px 0 #3b3a3b;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: column;
}

div.infocontent>img {
    border-radius: 50%;
    /* width: 230px; */
    height: 230px;
    padding: 10px;
}

div.infocontent>div {
    padding-left: 20px;
}

div.infocontent>div>p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

div.infocontent {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 815px) {
    div.infocard {
        width: calc(100% - 60px);
        margin-left: 10px;
        margin-right: 10px;
    }

    div.infocontent {
        flex-direction: column;
    }
}

/* Заголовок*/
h1 {
    font-family: GothamBlack,Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: white;
    width: fit-content;
}

/* Карточка с переводом */

div.transcard {
    width: 680px;
    padding: 0 30px 0 30px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    border-radius: 10px;
    background-color: #474747;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 10px 0 rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 10px 0 #3b3a3b;
    margin-top: 15px;
}

div.transcard:first-child {
    margin-top: 20px
}

div.transcard:last-child {
    margin-bottom: 20px
}

span.transh1 {
    font-weight: bold;
    font-size: 24px;
}


@media screen and (max-width: 815px) {
    div.transcard {
        width: calc(100% - 80px);
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }

    div.cards {
        width: 100%;
    }

    div.transbtn {
        height: 38px;
        display: flex;
        align-items: center;
        margin-top: 10px
    }
}

/* кнопки */

a.btn {
    padding: 10px 16px 10px 16px;
    border-radius: 50px;
    background-color: #3a3a3a;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
    color: #cccccc;
}


a.btn:hover {
    background-color: #555555;
    color:#e6e6e6;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 10px 0 rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 10px 0 #3b3a3b;
}

a.teemicon {
    font-size: 16px;
    width: 38px; 
    height: 38px;
    border-radius: 50px;
    background-color: #3a3a3a;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    transition: .2s;
    cursor: pointer;
    color: #cccccc;
}

a.teemicon>span {
    visibility: hidden;
    width: 0px;
    font-weight:600;
}

a.teemicon:hover {
    background-color: #555555;
    color:#e6e6e6;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 10px 0 rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 10px 0 #3b3a3b;
}

a.teemicon :first-child {
    margin: 0;
}

@media screen and (min-width: 550px) {
    div.socialbtn:hover  a.teemicon>span {
        visibility: visible;
        width: unset;
        padding-left: 5px;
        transition: .4s;
    }
    div.socialbtn:hover  a.teemicon {
        width: unset;
        padding: 0px 16px 0px 16px;
        transition: .4s;
    }
    div.socialbtn:hover  a.teemicon>ion-icon {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    a.teemicon {
        font-size: 16px;
        width: unset;
        height: unset;
        border-radius: 50px;
        background-color: #3a3a3a;
        padding: 10px 16px 10px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        transition: .2s;
 
    }
    
    a.teemicon>span {
        display: unset;
        visibility: visible;
        width: unset;
        padding-left: 5px;
    }
    
    a.teemicon>ion-icon {
        font-size: 20px;
    }
}
/* Карточка члена команды */

div.teemcard {
    width: 740px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 17px;
    border-radius: 10px;
    background-color: #474747;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 15px 0 rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 11%), 0 0 15px 0 #3b3a3b;
}

div.teemcard:first-child {
    margin-top: 20px
}

div.teemcard>div {
    display: flex;
    align-items: center;
}

div.cardtext {
    height: fit-content;
    margin-left: 30px;
}

div.teemcard:last-child {
    justify-content: center;
    flex-direction: column;
}

img.teemavatar {
    width: 90px;
    height: 90px;
}

div.socialbtn {
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

span.anon { /* :D */
    font-size: 12px;
    /* margin-right: 5px; */
    cursor: pointer;
}

span.cardname {
    font-weight: bold;
    font-size: 20px;
}

span.cardabout {
    font-size: 12px;
}


@media screen and (max-width: 818px) {
    div.teemcard {
        width: calc(100% - 20px)!important;
    }
}
@media screen and (max-width: 500px) {
    .teemcard {
        flex-direction: column;
        width: calc(100% - 20px)!important;
        height: fit-content!important;
    }
    .avatarandtext {
        flex-direction: column;
    }
    .teemavatar {
        width: 100%!important;
        height: auto!important;
    }

    .cardtext {
        margin-top: 10px;
        margin-left: 0!important;
        text-align: center;
    }

    .socialbtn {
        margin: 15px 0 15px 0;
        margin-right: 0!important;
    }
    .anon {
        margin: 15px 0 15px 0;
        font-weight: bold;
    }
    .cardabout {
        margin-top: 5px
    }
    span.cardname {
        font-size: 26px;
    }

    div.teemcard:last-child {
        justify-content: center;
        flex-direction: column;
        padding: 15px 0 15px;
    }
}


/* footer */

div.footer {
    width: 100%;
    padding: 15px 0 10px;
}